:root {
    --orange: #fcba6a;
    --black: #434241;
    --red: #e16d53;
    --brown: #534d43;
    --blue: #72bbe9;
    --white: #f8e1c3;
}

.mainpage:not(#intropage, #additionalinfo) {
    display: none;
}

body {
    text-align: center;
    background-color: var(--orange);
    color: var(--black);
    font-family: "courier-prime", Courier, sans-serif;
}

label {
    text-align: left;
}

h3 {
    font-family: "courier-prime", Courier, sans-serif;
    font-weight: 700; }
  
h2, h1 {
    font-family: "futura-pt", Futura, sans-serif;
    font-weight: 700;
}

button {
    cursor: pointer;
    border: none;
    color: var(--orange);
    background-color: var(--black);
    padding: 16.5px 35px;
    border-radius: 10px;
    font-family: "courier-prime", Courier, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    width: 450px;
    box-shadow: 0 9px hsl(0, 0%, 13%);
}

button:hover {
    transform: translateY(4px);
    box-shadow: 0 5px var(--black);
}

input {
    width: 400px;
    padding: 16.5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

#roomcode {
    text-transform: uppercase;
}

#hostbutt {
    border-radius: 1px;
    padding: 95px 35px;
    background-color: var(--red);
    border: 5px solid var(--brown);
    box-shadow: 0 9px var(--brown);
    margin-bottom: 50px;
}
#hostbutt:hover {
    transform: translateY(9px);
    box-shadow: 0 0px;
}

#joinbutt {
    padding: 100px 35px;
    background-color: var(--blue);
    border-radius: 25px;
    box-shadow: 0 9px var(--brown);
}
#joinbutt:hover {
    transform: translateY(4px);
    box-shadow: 0 5px var(--blue);
}

#roomcodeelement {
    font-size: 100px;
    font-weight: bold;
    margin: 10px;
}

.cards {
    background-color: var(--black);
    height: 150px;
    width: 100px;
    align-self: center;
    justify-self: center;
    justify-items: center;
    color: var(--white)
}

.board {
    display: grid;
    height: 300px;
    box-sizing: border-box;
    min-height: 0;
}

#gameboard {
    grid-template-areas:
        'dr fasc fasc fasc fasc fasc ppl'
        'di lib lib lib lib lib vote';
    column-gap: 50px;
    row-gap: 50px;
    margin:100px;
}

#drawpile {grid-area: dr;}
#discardpile {grid-area: di;}
#people {grid-area: ppl;}
#votes {grid-area: vote;}

#record {
    overflow: hidden;
    text-align: left;
    display: block;
    height: 125px;
}

#fboard {
    grid-area: fasc;
    display: grid;
    grid-template-columns: repeat(6, 200px);
    background-color: var(--red);
    align-items: center;
    justify-items: center;
    justify-content: space-between;

}

#lboard {
    grid-area: lib;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    background-color: var(--blue);
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

.president {font-weight: bold; color: var(--red)}
.chancellor {font-weight: bold; color: var(--blue)}
.dead {text-decoration: line-through}