body {
    text-align: center;
    background-color: #FCBD6F;
    color: #434343;
    font-family: "courier-prime", Courier, sans-serif;
}

label {
    text-align: left;
}

h3 {
    font-family: "courier-prime", Courier, sans-serif;
    font-weight: 700; }
  
h2, h1 {
    font-family: "futura-pt", Futura, sans-serif;
    font-weight: 700;
}

button {
    cursor: pointer;
    border: none;
    color: #FCBD6F;
    background-color: #434343;
    padding: 16.5px 35px;
    border-radius: 10px;
    font-family: "courier-prime", Courier, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    width: 450px;
    box-shadow: 0 9px hsl(0, 0%, 13%);
}

button:hover {
    transform: translateY(4px);
    box-shadow: 0 5px #434343;
}

input {
    width: 400px;
    padding: 16.5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

#hostButt {
    border-radius: 1px;
    padding: 95px 35px;
    background-color: #C32F27;
    border: 5px solid #780116;
    box-shadow: 0 9px #780116;
    margin-bottom: 50px;
}
#hostButt:hover {
    transform: translateY(9px);
    box-shadow: 0 0px;
}

#joinButt {
    padding: 100px 35px;
    background-color: #50b2c0;
    border-radius: 25px;
    box-shadow: 0 9px #3c787e;
}
#joinButt:hover {
    transform: translateY(4px);
    box-shadow: 0 5px #50b2c0;
}